* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    min-height: 100vh;
    transition: .1s;
    padding: 100px;
    background-image: url(../images/background_image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    position: absolute;
    top: 20px;
    left: 50px;
    width: 100%;
    padding:1px;
    display: inline;


}


.NAV{
    position: fixed;
    z-index: 100;
    top: 15px;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 70px 0px 70px;


}

header .LOGO{
    position: relative;
    max-width: 210px;

}

header ul{
    position: relative;
    display: flex;

}

header ul li{
    list-style-type: none;

}

header ul li a{
    display: inline-block;
    margin-right: 60px;
    color: white;
    text-transform: none;
    font-size: 13px;
    text-decoration: none;

}

header ul li a:hover{
    color: red;

}

.CONTENT{
    color: white !important;
    position: relative;
    margin-top: 80px;
    margin-left: 2px;
    display: flex;
    width: 100px;
    justify-content: space-between;
    align-items: center;

}


.CONTENT .TEXT_AREA h4{
    color: whitesmoke !important;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 30px;
    letter-spacing: 3px;

}

.CONTENT .TEXT_AREA h1{
    color: #f5f5dc !important;
    text-transform: uppercase;
    font-size: 70px;
    margin-bottom: 8px;
    font-weight: bolder;
    letter-spacing: 1px;

}


.CONTENT .TEXT_AREA h1 .FIRST{
    color: white !important;
    text-transform: none;
    font-size: 11px;
    margin-bottom: 20px;
    font-weight: bolder;
    letter-spacing: 2px;

}

.CONTENT .TEXT_AREA h1 .FIRST{
    color: black!important;
    text-transform: none;
    font-size: 11px;
    margin-bottom: 400px;
    width: 50%;
    font-weight: bolder;
    letter-spacing: 2px;

}

.CONTENT .TEXT_AREA a{
    display: inline-block;
    padding: 15px 25px;
    font-size: 34px;
    color: black;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 60px;
    background-color: red;
    text-decoration: none;
    margin: 30px;
}

.CONTENT .TEXT_AREA a:hover{
    background-color: grey;
}

#character_nav{
    text-align: center;
    background-color: red;
    position: relative;
    left: 20px;
    top: 2px;
    
}
.characters li a { text-decoration: none; }

.red_bumper {
    width: 100%;
    height: 10px;
    background-color: red;background-image: url('../images/images.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

    background-blend-mode: multiply;

    transition: height 1.0s ease;

    position: absolute;
}
.characters li:hover .red_bumper {
    height: 100px;
    
}

#character_nav h5{
    padding:  12px 38px;
    color: white;
    font-size: 14px;
}

.NAV ul li a:hover{
    border-bottom: 4px solid red;
    padding-bottom: 6px;

}

a{
    transition: all .5s ease !important;
}

/* lightbox rules here */

#lightbox{
    width: 100vw; /* vw = viewport width => screen width */
    height: 100vh; /* vh = viewport height => screen height */

    position: absolute;
    top: 0;
    left: 0;

    background-color: grey;
    background-image: url('../images/Stranger_Things_season_4_LIGHTBOX1.jpeg');
    background-repeat: no-repeat;

    background-size: 55vh; /* 55% of the viewport height */
    background-position: 40px bottom;

    z-index: 5000;

    display: none;
}

.lightbox_close:hover { opacity: 0.5; color: red; }


.lightbox article {
    width: 55%;
    margin-left: 40%;
    padding-top: 50px;
}

.lb_text, .lb_heading { text-align: left; }

.lb_text {
    line-height: 1.6 !important;
    margin-left: 0;
    padding-top: 2em;
}

/* turn the lightbox on using the :target pseudo selector */
.lightbox:target { display: block; }




